body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0%;
  margin: 0%;
  justify-content: space-evenly;
}

p {
  margin: 0%;
}

li p {
  width: 150px;
  text-align: center;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 10px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header a {
  color: #e5e7eb;
  margin-right: 20px;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0%;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.first,
.second,
.third,
.fourth,
.header,
.footer {
  padding: 0% 25%;
}

.first,
.second,
.third,
.fourth {
  height: 400px;
}

.first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 30px;
}

.placeholder {
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.style1 {
  background-color: #1f2937;
}

.card {
  border: 2px solid #3882f6;
  border-radius: 25px;
  width: 150px;
  height: 150px;
  align-items: center;
}

.style2 {
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
}

.general {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

#right {
    display: flex;
    justify-content: flex-end;
}

.third {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}
